* {
    box-sizing: border-box;
    
}

.wrapper3 {
    border: 2px solid black;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: rgb(84, 147, 241);
    

}



.wrapper2 {
    border: 2px solid black;
    cursor: pointer;
    position: absolute;
    left: 75px;
    top: 75px;
    width: 150px;
    height: 150px;
    background: rgb(126, 236, 93);
}

.wrapper1 {
    position: absolute;
    border: 2px solid black;
    cursor: pointer;
    top: 37.5px;
    left: 37.5px;
    width: 75px;
    height: 75px;
    background: rgb(93, 191, 236);
    line-height: 75px; /* цифра точно по середине блока */
}

.add {
    transition: 0.3s linear;
    background: #993b1e;
    font-size: 30px;
}